    Please enter your zipcode
    <!-- Adds a text field to enter an address.  geocoder locates address on map -->
    <form action="#" onsubmit="drawNearbyPrograms(); return false">
      <p>
        <input type="text" size="60" name="address" value="94305" />
        <input type="submit" value="Find near me!" />
      </p>
    </form>
    <!-- Toggle Traffic Overlay -->
    <input type="button" value="Toggle Traffic" onClick="toggleTraffic();"/>

    <!-- Directions form -->
    <form action="#" onsubmit="calcRoute(this.from.value, this.to.value); return false">
    <table>
     <tr><th align="right">From:&nbsp;</th>
     <td><input type="text" size="25" id="fromAddress" name="from"
       value="San Francisco"/></td>
     <th align="right">&nbsp;&nbsp;To:&nbsp;</th>
     <td align="right"><input type="text" size="25" id="toAddress" name="to"
       value="Mountain View" /></td></tr>
      <input name="submit" type="submit" value="Get Directions!" />
     </td></tr>
    </table>
    </form>



    <div id="map_canvas" style="width: 500px; height: 300px"></div>
    <div id="directionsPanel" style="width: 20%; height:480px;"></div>
